{{!-- COURSE DETAILS VIEW AS CARD --}}
<section>
    <div class="card m-1" style="width: 100%">
        <div class="row no-gutters">
            <div class="col-lg-5 col-md-4 col-sm-3 col-xs-2 d-flex align-items-center justify-content-center">
                <img src="img/courseImage.jpeg" class="img-fluid mx-auto" alt="">
            </div>
            <div class="col-lg-7 col-md-8 col-sm-9 col-xs-10">
                <div class="card-block p-3">
                    <h5 class="card-title">{{name}}</h5>
                    <p class="card-text"><small class="text-muted">{{description}}</small></p>
                    <p class="card-text"><small class="text-muted font-italic">Category : {{category}}</small></p>
                    <p class="card-text"><small class="text-muted">Author : {{author}}</small></p>
                </div>
            </div>
        </div>
    </div>
</section>