{{!-- COURSE DETAILS VIEW AS TABLE ROW --}}
<td>{{name}}</td>
<td>{{description}}</td>
<td>{{category}}</td>
<td>{{author}}</td>
<td><a class="editBtn btn btn-warning px-4" href="#courseForm">Edit</a> </td>
<td><button class="deleteBtn btn btn-danger">Delete</button></td>