<section id="about">
  <!--HOME ICON SECTION  -->
  <div class="container py-5">
    <div class="row">
      <div class="col-md-4 mb-4 text-center">
        <i class="fas fa-book-open fa-3x mb-2"></i>
        <h3>100,000 online courses</h3>
        <p>Explore a variety of fresh topics.</p>
      </div>
      <div class="col-md-4 mb-4 text-center">
        <i class="fas fa-chalkboard-teacher fa-3x mb-2"></i>
        <h3>Expert instruction</h3>
        <p>Find the right instructor for you.</p>
      </div>
      <div class="col-md-4 mb-4 text-center">
        <i class="fas fa-universal-access fa-3x mb-2"></i>
        <h3>Lifetime access</h3>
        <p>Learn on your schedule</p>
      </div>
    </div>
  </div>

  {{!-- ABOUT --}}
  <div id="about-section" class="bg-light text-muted py-5">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <blockquote class="blockquote text-center">
            <h2>A great place to grow</h2>
            <p>Academy helps organizations of all kinds prepare for the ever-evolving future of work.</p>
            <p>Curated collection of top-rated business and technical courses gives companies, governments, and
              nonprofits
              the power to develop in-house expertise and satisfy employees’ hunger for learning and development.</p>
            <p>Our culture is diverse, inclusive, and committed to personal and professional development. We’re not
              afraid
              to take on a new challenge, and we love taking Academy courses! Our employees live out our values every
              day
              as learners and teachers ourselves.</p>
            <footer class="blockquote-footer"><cite title="Source Title">Academy Team</cite></footer>
          </blockquote>
        </div>
      </div>
    </div>
  </div>

  <div class="container my-3">
    <div class="row">
      <div class="col-lg-12">
        <div>
          <blockquote class="blockquote text-center">
            <p class="mb-0 h2">What our students have to say</p>
          </blockquote>
        </div>
        <div class="card-deck p-2">
          <div class="card">
            <img class="card-img-top" src="img/feedback1.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Mike</h5>
              <p class="card-text"><small class="text-muted">You've renewed my passion for learning and my dream of becoming a web developer.</small></p>
              <p class="card-text text-right"><small class="text-muted">USA</small></p>
            </div>
          </div>
          <div class="card">
            <img class="card-img-top" src="img/feedback2.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Ryan</h5>
              <p class="card-text"><small class="text-muted">The best part about Academy is the selection. You can find a course for anything you
                want to learn!</small></p>
              <p class="card-text text-right"><small class="text-muted">Canada</small></p>
            </div>
          </div>
          <div class="card">
            <img class="card-img-top" src="img/feedback3.jpeg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Gorge</h5>
              <p class="card-text"><small class="text-muted">The instructors are fantastic, interesting, and helpful. I plan to use Academy for a
                long
                time!</small></p>
              <p class="card-text text-right"><small class="text-muted">Australia</small></p>
            </div>
          </div>
          <div class="card">
            <img class="card-img-top" src="img/feedback4.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Justin</h5>
              <p class="card-text"><small class="text-muted">I believe in lifelong learning and Academy is a great place to learn from experts.</small>
              </p>
              <p class="card-text text-right"><small class="text-muted">Ireland</small></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="bg-light text-muted py-5">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <blockquote class="blockquote text-center">
            <h2>SUBSCRIBE TO OUR NEWSLETTER</h2>
          <form class="form-inline">
            <input type="email" class="form-control" placeholder="Enter your email" style="width: 900px">
            <span class="input-group-btn">
              <button class="btn btn-outline-success" type="submit">Subscribe Now</button>
            </span>
          </form>
          </blockquote>
        </div>
      </div>
    </div>
  </div>
</section>